body{
	font-size: 16px;
	color: #fff;
	background-color: #ffffff;
	font-family: 'Oxygen', sans-serif;
}

/*navbar designing*/

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    
}
 
#header-nav {
	background-color: #ffffff;
	border-radius:0;
	border: 0;
	height:100%;
  margin: 0;
}

.halfCircleBottom{
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
	height:50px;
  width:200px;
  border-bottom-right-radius: 5em 5em;
  border-bottom-left-radius: 5em 5em; 
  background:linear-gradient(#cc66ff, #9966ff);
  opacity: 0.8;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);

}
.navbar a {
  padding: 12px;
  text-decoration: none;
  

}

.navbar a:hover {
  background-color:linear-gradient(#cc66ff, #9966ff);
}

.navbar-toggle{
  background-color: black;
}

#nav-list {
  padding-top: 0;

}
#nav-list a {
  color: black;
  text-align: center; 
}
#nav-list a:hover {
   background:linear-gradient(#cc66ff, #9966ff);
   border-radius: 30px;
   opacity: 0.3;
   text-decoration-color: white;
}

#nav-list a span {
  font-size: 1.2em;
}

/*caraousel designing*/

#main-contain{
	margin-top: 0;
}
.col-12.col-sm-6.container{
	padding: 0;
	
}
.vertical .carousel-inner {
	padding: 0;
  height: 100%;
  z-index: 2;
 }

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel.vertical .next,
.carousel.vertical .active.right {
   -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100% 0);
}

.carousel.vertical .prev,
.carousel.vertical .active.left {
-webkit-transform: translate3d(0,-100%, 0);
      transform: translate3d(0,-100%, 0);
}

.btn{
	padding: 0;
	border:0;
   z-index: 3;
}

.dot {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:200px;
  width:200px;
 border-radius: 120px;
  margin-left:-90px;
  margin-top: 280px;
  opacity: 0.5;
  z-index: 1;
}
.dot2 {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:120px;
  width:120px;
 border-radius: 90px;
  margin-left:-160px;
  margin-top: 380px;
  opacity: 0.5;
}




/********** Large devices only **********/

@media (min-width: 1200px) {
	
	
  }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  

  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #nav-list a {
  color: black;
  text-align: center; 
   font-size: 12px;
   padding: 10px;
}

  /*temprary*/
.dot {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:150px;
  width:150px;
 border-radius: 120px;
  margin-left:-70px;
  margin-top: 190px;
  opacity: 0.5;
}
/*temprary*/
.dot2 {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:100px;
  width:100px;
 border-radius: 90px;
  margin-left:-150px;
  margin-top: 250px;
  opacity: 0.5;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .halfCircleBottom{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    height:50px;
    width:200px;
    border-bottom-right-radius: 5em 5em;
    border-bottom-left-radius: 5em 5em; 
    background:linear-gradient(#cc66ff, #9966ff);
    opacity: 0.8;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  }

  .dot {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:120px;
  width:120px;
 border-radius: 120px;
  margin-left:-60px;
  margin-top: 130px;
  opacity: 0.5;
}
/*temprary*/
.dot2 {
  position: absolute;
 background: linear-gradient(#cc66ff, #9966ff);
 height:80px;
  width:80px;
 border-radius: 90px;
  margin-left:-120px;
  margin-top: 180px;
  opacity: 0.5;
}
}